*, *:before, *:after {
    box-sizing: border-box;
}

@font-face{
	font-family: "Bebas Neue"
	src: url(".fonts/BebasNeueRegular.ttf");
}

@font-face{
	font-family: "Yanone Kaffeesatz"
	src: url(".fonts/YanoneKaffeesatz-Regular.otf");
}

body{
	font-family: "Bebas Neue";
}


/* Componente Main-Content */
.main-content > .chamadainicial, .headline{
	font-weight: normal;
}

.main-content {
	text-align: center;
}

.chamadainicial{
	color: red;
	font-size: 1.3em;
}

h1.headline{
	font-weight: 200;
	font-size: 2em;
}

/*Manipulações necessárias para deixar o player responsivo*/
.video { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
} 

.video iframe, .video object, .video embed { 
	position: absolute; 
	top: 0; 
	left: 0%; 
	width: 100%; 
	height: 100%; 
}

@media (min-width: 45em) {
	.video { 
		position: relative; 
		padding-bottom: 41.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%;
	} 
	
	.video iframe, .video object, .video embed { 
		position: absolute; 
		top: 0; 
		left: 12.5%; 
		width: 75%; 
		height: 100%; 
	}
}

@media (min-width: 60em) {
	.video { 
		position: relative; 
		padding-bottom: 26.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%;
	} 
	
	.video iframe, .video object, .video embed { 
		position: absolute; 
		top: 0; 
		left: 25%; 
		width: 50%; 
		height: 100%; 
	}
}
/* Fim das manipulações necessárias para deixar o player responsivo*/

/*Fim do componente Main-Content*/

.botaocomprar > .botao{
	text-decoration: none;
	position: relative;
	top: 15%;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

.botaocomprar{
	font-family: "Yanone Kaffeesatz";
	display: block;
	width: 100%;
	height: 5em;
	background: rgba(59,89,152,255);
}

.empolgado{
	color: rgba(0,212,85,255);
}

@media (min-width: 17.87em) {
	.botaocomprar > .botao{
		font-size: 1.7em;
		top: 10%;
	}
}

/*continuação em 395x480



