*, *:before, *:after {
    box-sizing: border-box;
}


@font-face{
	font-family: "Bebas Neue";
	src: url("./fonts/BebasNeue Regular.otf") format('truetype');
	font-weight: normal;
}

@font-face{
	font-family: "Bebas Neue";
	src: url("./fonts/BebasNeue Light.otf") format('truetype');
	font-weight: lighter;
}

@font-face{
	font-family: "Bebas Neue";
	src: url("./fonts/BebasNeue Bold.otf") format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: "Yanone Kaffeesatz";
	src: url("./fonts/YanoneKaffeesatz-Regular.otf") format('opentype');
}

@font-face{
	font-family: "Yanone Kaffeesatz";
	src: url("./fonts/YanoneKaffeesatz-Thin.otf") format('opentype');
	font-weight: lighter;
}

@font-face{
	font-family: "Yanone Kaffeesatz";
	src: url("./fonts/YanoneKaffeesatz-Bold.otf") format('opentype');
	font-weight: bold;
}

@font-face{
	font-family: "Roboto";
	src: url("./fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face{
	font-family: "Roboto";
	src: url("./fonts/Roboto-Light.ttf") format('truetype');
	font-weight: lighter;
}

body{
	font-family: "Bebas Neue";
}

.logo{
	text-align: center;
}

/* Componente Main-Content */
.main-content > .chamadainicial, .headline{
	font-weight: normal;
	font-size: 2em;
}

.main-content {
	text-align: center;
}

.chamadainicial{
	color: red;
	/*font-size: 2em;*/
	margin-top: 0;
}

h1.headline{
	/*font-size: 1.5em;*/
	margin: 0;
}

/*Manipulações necessárias para deixar o player responsivo*/
.video { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
} 

.video iframe, .video object, .video embed { 
	position: absolute; 
	top: 0; 
	left: 0%; 
	width: 100%; 
	height: 100%;
	border: 0; 
}

@media (min-width: 45em) {
	.video { 
		position: relative; 
		padding-bottom: 33.76%; 
		/*padding-bottom: 39.76%; */
		height: 0; 
		overflow: hidden; 
		max-width: 60%;
		width: 100%;
		margin-left: 19.6%;
	} 
	
}

/*@media (min-width: 60em) {
	.video { 
		position: relative; 
		padding-bottom: 26.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%;
	} 
	
	.video iframe, .video object, .video embed { 
		position: absolute; 
		top: 0; 
		left: 25%; 
		width: 50%; 
		height: 100%; 
	}
}*/
/* Fim das manipulações necessárias para deixar o player responsivo*/

/*Comportamento responsivo do botão de compra*/

.botaocomprar > .chamadadobotao{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

.botaocomprar > .formasdepagar{
	width: 70%;
}

.botaocomprar{
	font-family: "Yanone Kaffeesatz";
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 5em;
	background: rgba(59,89,152,255);
	margin-top: 0.5em;
	padding-left: 5px;
	padding-right: 5px;
}

.empolgado{
	color: rgba(0,212,85,255);
	font-size: 3em;
}

@media (min-width: 23.25em) {
	.botaocomprar{
		height: 3.5em;
	}

	.botaocomprar > .chamadadobotao{
		font-size: 1.5em;	
	}

	.empolgado{
		font-size: inherit;
	}
}

@media (min-width: 30em) {
	.botaocomprar{
		height: 5em;
	}

	.botaocomprar > .chamadadobotao{
		font-size: 2em;
	}
}

@media (min-width: 34em) {
	.botaocomprar > .chamadadobotao{
		font-size: 2.249em;
	}
}

@media (min-width: 38em) {
	.botaocomprar > .chamadadobotao{
		font-size: 2.5em;
	}

	.logo{
		text-align: left;
	}
}

@media (min-width: 45em) {
	.botaocomprar{
		width: 75%;
	}

	.botaocomprar > .chamadadobotao{
		font-size: 2.19em;
	}
}

@media (min-width: 60em) {
	.botaocomprar > .chamadadobotao{
		font-size: 2.15em;
	}

	.botaocomprar{
		width: 50%;
	}
}

/*Fim comportamento responsivo do botão de compra*/

/*Fim do componente Main-Content*/

/*Comportamento estrutura do curso*/
.estrutura-curso{
	font-family: "Bebas Neue";
	text-align: center;
	background-color: rgba(227,227,227,255);
	padding: 2em;
}

.estrutura-curso > .chamadacurso{
	font-weight: normal;
	font-size: 3em;
	width: 100%;
}

.conteudo-aula > .titulo-aula {
	font-size: 2em;
	display: block; 
}

.titulo{
	font-weight: normal;
	margin: 0;
}

.imagemestrutura{
	width: 100px;
	height: 100px;
}

.conteudo-aula > .descricaoaula{
	font-family: "Roboto";
	font-weight: lighter;
	text-align: center;
	font-size: 1.2em;
}

@media (min-width: 45em){
	
	.estrutura-curso{
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-flow: row wrap;
		align-content: center;
	}

	.conteudo-aula{
		text-align: left;
		width: 50%;
		float: left;
		margin-top: 2em;
		padding-right: 5%;
		padding-left: 5%;
	}

	.conteudo-aula > .titulo-aula {
		display: inline-flex; 
		text-align: left;
	}

	.titulo{
		margin: auto;
	}

	.conteudo-aula > .descricaoaula{
		text-align: left;
		width: 100%;
	}
}

/*Fim comportamento estrutura do curso*/

/*Comportamento Garantia de 30 dias */

.garantia-30dias{
	text-align: center;
	padding-top: 2em;
	background-color: rgba(227,227,227,255);

}

.garantia-30dias > .imagemgarantia{
	max-width: 450px;
	max-height: 392px;	
	width: 70%;
}

.garantia-30dias > .texto-garantia{
	font-size: 1.5em;
}

.texto-garantia > .titulogarantia{
	font-weight: normal;
	margin: auto;
}

.texto-garantia > .descricaogarantia{
	margin: 0.5em;
	font-family: "Yanone Kaffeesatz";
	font-weight: lighter;
	line-height: 1.5em;
}

.texto-garantia > .descricaogarantia > .email{
	color: blue;
}

.riscozero, .frasesatisfacao{
	display: block;
}

.botao-avulso{
	text-align: center;
}

@media (min-width: 23.25em){
	.texto-garantia > .titulogarantia{
		font-size: 2em;
	}
}

@media (min-width: 38em){
	.riscozero{
		display: inline;
	}
}

@media (min-width: 60em){
	.garantia-30dias{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-flow: row wrap;
		align-content: center;
	}

	.garantia-30dias > .imagemgarantia{
		width: 40%;
		max-width: auto;
	}

	.garantia-30dias > .texto-garantia{
		width: 60%;
		text-align: left;
		padding-left: 1.5em;
		margin-bottom: 1.5em;
	}
}

/*Fim do comportamento Garantia de 30 dias */

/*Botão comprar sozinho depois de terminar, buscar as abstrações, esse aqui pode ficar junto com o main*/
.efetuar-compra{
	text-align: center;
}

/*Fim Botão comprar sozinho*/

/*Comportamento bônus */
.bonus-total{
	font-family: "Bebas Neue";
	display: block;
	text-align: center;
	padding: 1em;
}

.bonus-total > .chamadabonus{
	width: 100%;
	font-size: 2.3em;
} 

.chamadabonus > .preco{
	color: red;
}

.bonus-total > .final{
	font-size: 1.5em;
	margin-top: 1.5em;
}

.bonus-parcial {
	margin-bottom: 2em;
}

.bonus-parcial > .descricaobonus{
	font-family: "Roboto";
	font-weight: lighter;
}

.titulo-bonus {
	display: inline-flex;
	text-align: left;
	align-items: center;
	font-size: 1.2em;
}

.titulo-bonus > .imagembonus{
	width: 80px;
	height: 80px;
}

.titulobonus{
	margin: 0 0 0 0.3em;
} 

@media (min-width: 45em){
	.bonus-total{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-flow: row wrap;
		align-content: center;
	}

	.bonus-parcial{
		text-align: left;
		width: 33%;
		float: left;
		margin-top: 1em;
		padding-right: 2%;
		padding-left: 2%;
	}
}

/*Fim comportamento bônus*/

/*comportamento footer*/

.opcoes-menu{
	margin: 1em;
	margin-top: 5em;
	font-weight: bold;
	border-top: 1px solid rgba(227,227,227,255);
}

.opcoes-menu > .rodape{
	list-style: none;
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	text-align: center;
}

.itemdomenu{
	margin-top: 1em;
}

@media (min-width: 45em){

	.opcoes-menu > .rodape{
		list-style: none;
		border: 0;
		padding: 0;
		margin: 0;
		vertical-align: baseline;
		display: inline-flex;
		text-decoration: none;
	}

	.opcoes-menu{
		display: block;
		height: 5em;
		text-align: center;
	}

	.itemdomenu{
		margin-left: 1em;
		margin-right: 1em;
		margin-top: 2.5em;
	}
}

/*fim comportamento footer*/

/*Comportamento reportagens*/

.depoimentos-bocaboca{
	text-align: center;
	margin-top: 5em;
	margin-bottom: 2em;
}

.reportagens{
	box-shadow:0 1px 2px #aaa;
	max-width: 90%;
	width: 100%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 1em;
}

.-comenfase{
	font-weight: bold;
	color: rgba(59,89,152,255);
	font-size: 2em;
}

@media (min-width: 45em){

	.depoimentos-bocaboca{
		text-align: center;
		margin-top: 5em;
		margin-bottom: 2em;
	}

	.reportagens{
		box-shadow:0 1px 2px #aaa;
		max-width: 45%;
		width: 100%;
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-top: 1em;
	}

	.-comenfase{
		font-weight: bold;
		color: rgba(59,89,152,255);
		font-size: 2em;
	}
}
/*Como fazer cards, muito bom*/
/*http://codepen.io/bennettfeely/pen/Ftczh*/ 

/*Final comportamento reportagen*/

/*Termos de uso*/

.termos-uso, .politica-calculus{
	width: 95%;
	font-family: "Yanone Kaffeesatz";
	text-align: justify;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1.2em;
	line-height: 2em;
}

.titulotermos, .direitosreservados{
	text-align: center;
}

@media (min-width: 45em){
	.termos-uso, .politica-calculus{
		padding-left: 5em;
		padding-right: 5em;
		font-size: 1.5em;
		line-height: 2em;
	}
}	

@media (min-width: 60em){
	.termos-uso, .politica-calculus{
		padding-left: 7.5em;
		padding-right: 7.5em;
	}
}	

/*Fim do termos de uso*/
